<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  
  <connectionStrings>
    <add name="Dump" connectionString="Host=manny.db.elephantsql.com;Username=wcwwlhcm;Password=asHa-82mSa-iWLw1SIRfLfIBGs4luTEf;Database=wcwwlhcm"/>
  </connectionStrings>
</configuration>