<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  
  <connectionStrings>
    <add name="Dump" connectionString="Host=host;Username=user;Password=pass;Database=database"/>
	<!-- TIP: for testing you can get a free postgresql instance at elephantsql.com -->
  </connectionStrings>
</configuration>