<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="Dump" connectionString="Server=localhost\SQLEXPRESS;Database=Dump;User Id=local;Password=local"/>
  </connectionStrings>
</configuration>